@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: Lekton, sans-serif;
  }

  input[type='file']::-webkit-file-upload-button{
    background-color: #8C8289;
    border: 1px solid #8C8289;
    color: #fff;
    padding: 5px 16px;
    border-radius: 5px;
    margin-right: 16px;
    cursor: pointer;
  }
}